/* import other sheets */
@import url("/css/fadein.css");

/* raleway font */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#particles-js {
  position: fixed;
  width: 100%;
  z-index: -1;
}

#bottom-bar {
  font-size: 12px;
  text-align: left;

  left: 0px;
  bottom: 0px;
  height: 36px;

  width: 100%;

  position: fixed;
  background: gray;
}

#bottom-bar p {
  padding-left: 10px;
}
