/*certain code snippets taken from valkyrienyanko; https://github.com/valkyrienyanko/valkyrienyanko.github.io*/
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap&subset=latin-ext"); /*imports font*/
body {
  font-family: "Raleway", sans-serif;
  background-color: black;
}
.reload-bar {
  background-color: black;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  text-align: center !important;
  color: white;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: white;
  animation: headerGlow 800ms ease-out infinite alternate;
}
p {
  color: white;
}
ul,
ol {
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a, .reload-bar a {
  transition: color 1s ease;
  color: teal;
  outline-style: teal solid 1px;
  text-decoration: none;
  text-shadow: teal 0 0 60px teal 0 0 60px teal 0 0 60px;
}
a:link, .reload-bar a:link {
  transition: color 1s ease;
  color: teal;
  outline: teal;
  outline-style: teal solid 1px;
  text-decoration: none;
  text-shadow: teal 0 0 60px teal 0 0 60px teal 0 0 60px;
}
a:hover, .reload-bar a:hover {
  color: lightblue;
  outline: lightblue;
  outline-style: lightblue solid 1px;
  text-shadow: lightblue 0 0 20px lightblue 0 0 20px lightblue 0 0 20px;
}
.progress-ul {
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  animation: doOpacity 0.5s ease linear, doFontSize 0.5s ease-out;
  animation-fill-mode: forwards;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}
.text-main {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  animation: doOpacity 3s linear, doFontSize 3s ease-out;
  animation-fill-mode: forwards;
}
.title-main {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 10px;
  animation: doOpacity 1s linear, doFontSize 1s ease-out;
  animation-fill-mode: forwards;
}
canvas {
  display: block;
  margin: 0 auto;
  align-content: center;
}
::selection {
  background: white;
  color: black; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white;
  color: black; /* Gecko Browsers */
}

@keyframes headerGlow {
  0% {
    color: white;
    text-shadow: #FFFFFF 0 0 10px;
  }
  100% {
    color: white;
    text-shadow: #FFFFFF 0 0 20px;
  }
}

body {
  text-align: center;

  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}