/*certain code snippets taken from valkyrienyanko; https://github.com/valkyrienyanko/valkyrienyanko.github.io*/
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap&subset=latin-ext"); /*imports font*/
body {
  font-family: "Raleway", sans-serif;
  background-color: black;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: black;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgray;
  outline: 1px solid black;
}
.reload-bar {
  background-color: black;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  text-align: center !important;
  color: white;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
p {
  color: white;
}
ul,
ol {
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a, .reload-bar a {
  transition: color 1s ease;
  color: teal;
  text-decoration: none;
}
a:link, .reload-bar a:link {
  transition: color 1s ease;
  color: teal;
  text-decoration: none;
}
a:hover, .reload-bar a:hover {
  color: lightblue;
}
a:active, .reload-bar a:active {
  /*placeholder*/
}
::-webkit-scrollbar {
  width: 0;
  color: transparent;
}
html[hide-scrollbar] ::-webkit-scrollbar {
  display: none !important;
}
.progress-p, .reload-bar p {
  color: white;
  display: inline-block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  animation: doOpacity 2s ease linear, doFontSize 2s ease-out;
  animation-fill-mode: forwards;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.progress-ul {
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  animation: doOpacity 0.5s ease linear, doFontSize 0.5s ease-out;
  animation-fill-mode: forwards;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}
.text-main {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  animation: doOpacity 3s linear, doFontSize 3s ease-out;
  animation-fill-mode: forwards;
}
.title-main {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 10px;
  animation: doOpacity 1s linear, doFontSize 1s ease-out;
  animation-fill-mode: forwards;
}
canvas {
  display: block;
  margin: 0 auto;
  align-content: center;
}
::selection {
  background: lightgray; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: lightgray; /* Gecko Browsers */
}
