@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603056096585071/9D7C803F7321F3387B23FA3C176B3E0BC73B5153/");
}
.common{
  padding-left: 100px;
  padding-right: 100px;
}
.navbar {
  background-color: lightskyblue;
  overflow: hidden;
}
.navbar a {
  float: top;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  font-size: 35px;
}
.navbar a:hover {
  background-color: lightslategray;
  color:#ffffff;
}
.navbar a.active {
  background-color:lightseagreen;
  color: lightgray;
}